In [3]:
import numpy as np
import pandas as pd
np.random.seed(42)
this=np.random.randint(0, 101, size=10)
print(f"Numpy array is {this}")
that=pd.Series(this)
print(that)

Numpy array is [51 92 14 71 60 20 82 86 74 74]
0    51
1    92
2    14
3    71
4    60
5    20
6    82
7    86
8    74
9    74
dtype: int32

In [5]:
import pandas as pd
ls=["Apple","Tesla","Persimmon","Adidas"]
l=pd.Series(ls)
print(l)

0        Apple
1        Tesla
2    Persimmon
3       Adidas
dtype: object

In [9]:
import pandas as pd
ls=["Apple","Tesla","Persimmon","Adidas"]
x = pd.Series(ls, index = ["A", "B", "C","D"])
print(x)

A        Apple
B        Tesla
C    Persimmon
D       Adidas
dtype: object

In [12]:
import pandas as pd
ls=["Apple","Tesla","Persimmon","Adidas"]
x = pd.Series(ls, index = ["A", "B", "C","D"])
print(x.iloc[0])

Apple

In [13]:
import pandas as pd
ls=["Apple","Tesla","Persimmon","Adidas"]
x = pd.Series(ls, index = ["A", "B", "C","D"])
print(x.iloc[0:3])

A        Apple
B        Tesla
C    Persimmon
dtype: object

In [16]:
import pandas as pd
ls=["Apple","Tesla","Persimmon","Adidas"]
x = pd.Series(ls, index = ["A", "B", "C","D"])
print(x.loc["A"])

Apple

In [19]:
import pandas as pd
import numpy as np
np.random.seed(42)
this=np.random.randint(0, 101, size=10)
fl=pd.DataFrame(this,columns=['Numbers'])
fl

   Numbers
0       51
1       92
2       14
3       71
4       60
5       20
6       82
7       86
8       74
9       74

In [20]:
import pandas as pd
dat=[["Dikesh",12]["Ronish",31],["Ujwal",40]]
df=pd.DataFrame(dat,columns=["Name","Roll"])
df

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\hp\AppData\Local\Temp\ipykernel_7312\2698366077.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  dat=[["Dikesh",12]["Ronish",31],["Ujwal",40]]

TypeError: list indices must be integers or slices, not tuple